.header {
  height: 15%;
}
.title {
  text-align: center;
}
.nav {
  height: 15%;
}
.progress {
  display: flex;
  width: 60%;

  justify-content: center;
  align-content: stretch;
}
.progress * {
  width: 100px;
}
.grid-4X4 {
  margin: 0 auto;
  grid-gap: 10px;
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 5px 5px 6px rgb(49, 48, 48);
}
.grid-4X4 * {
  position: relative;
  cursor: pointer;
  box-shadow: 3px 3px 4px rgb(49, 48, 48);
  border-radius: 5px;
}
.bg {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-color: rgb(43, 90, 98); */
  /* box-shadow: 5px 5px 6px grey; */
  /* background-image: linear-gradient(rgb(119, 99, 99), rgb(120, 101, 129)); */
}
